.contact-container {
  min-height: 100vh;
  display:block;
  padding-top:4rem;
  text-align: center;
}

.address-container{
  display:flex;
  justify-content:center;
  margin-top:5rem;
}

address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding:2rem 4rem;
  border-radius:10px;
  box-shadow: 2px 1px #e3f0e2;
  border:1px solid #e3f0e2;
  justify-items: center;
  background: rgba(225, 224, 211, 0.2)
}

address h3{
	align-self:center;
}

address p {
  display: flex;
  gap: 1rem;
  align-items: center;
}
