.slider{
	height:100vh;
	background-color:#deded1;
	color:#000;
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	font-size:40px;
	flex-direction:column;
	width:100%;
	user-select:none;
}
span{
	color:#3093B3;
}
.slider small{
	font-size:30px;
	color:#3093B3;
}

@media only screen and (max-width:850px){
	.slider {
		font-size:25px;
	}
	.slider small{
		font-size:18px;
	}
}

@media only screen and (max-width:450px){
	.slider {
		font-size:20px;
	}
	.slider small{
		font-size:16px;
	}
}