.slider{
	height:100vh;
	background-color:#deded1;
	color:#000;
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	font-size:40px;
	flex-direction:column;
}
span{
	color:#3093B3;
}
.slider small{
	font-size:30px;
	color:#3093B3;
}